<div class="tim-typo">
  <h1>
    <span class="tim-note"></span>Salary Management</h1>
</div>

<nav class="navbar navbar-expand-lg bg-warning">
  <!-- Navbar content -->
  <form class="form-inline ml-auto">
    <div class="form-group no-border">
      <input type="text" class="form-control" placeholder="Search">
    </div>
    <button type="submit" class="btn btn-just-icon btn-round">
      <i class="now-ui-icons ui-1_zoom-bold" class="material-icons">search</i>
    </button>
  </form>
</nav>

<div class="col-md-6">
  <div class="col-lg-6 cards">
    <div class="card card-pricing card-raised">
      <div class="card-body">
        <h6 class="card-category">Salary Amount</h6>
        <div class="card-icon icon-rose">
          <i class="material-icons">home</i>
        </div>
        <h3 class="card-title">$20000</h3>

      </div>
    </div>
  </div>
</div>



<div class="col-md-12">
  <div class="card">
    <div class="card-header card-header-rose card-header-icon">
      <div class="card-icon">
        <i class="material-icons">assignment</i>
      </div>
      <h4 class="card-title">Simple Table</h4>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table">
          <thead>
          <tr>
            <th class="text-center">ID</th>
            <th>Name</th>
            <th>Job Position</th>
            <th>Days</th>
            <th class="text-center">Status</th>


            <th >View</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td class="text-center">1</td>
            <td>Andrew Mike</td>
            <td>Develop</td>
            <td>20</td>
            <td>aaa</td>
            <td class="text-right">
              <button type="button" rel="tooltip" class="btn btn-info" (click)="goToPage()">
              <i class="material-icons">person</i>
            </button>
            </td>


          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

