<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header card-header-icon card-header-info">
          <div class="card-icon">
            <i class="fas fa-cart-plus"></i>
          </div>
          <h4 class="card-title">Add Item Details

          </h4>
        </div>
        <div class="card-body">
          <form [formGroup]="form1" name="form" >

          <div class="row">


          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label class="bmd-label-floating">Item Name</label>
                <input type="text" class="form-control"id="itemNameId"  name="itemName" [(ngModel)]="additem.itemName" formControlName="itemname" [ngClass]="{'is-invalid':form1.get('itemname').touched }">
              </div>
            </div>

          </div>
            <br>
          <div class="row">
            <div class="col-md-7">
              <label >Select Brand Name</label>
              <div class="form-group">


                <select class="form-control " data-style="select-with-transition" [ngModelOptions]="{standalone: true}"  [(ngModel)]="selectedBrand">
                  <option *ngFor="let brand of brands" [ngValue]="brand">{{brand.brandName}}</option>
                </select>
              </div>

            </div>
          </div>
          <button type="submit" class="btn btn-info pull-right" (click)="addItem()" [disabled]="!form1.valid" >Save Details</button>
          <div class="clearfix"></div>
          </form>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="card">
        <div class="card-header card-header-icon card-header-info">
          <div class="card-icon">
            <i class="fas fa-code-branch"></i>
          </div>
          <h4 class="card-title">Add Brand Details

          </h4>
        </div>
        <div class="card-body">

          <div class="row">


          </div>
          <form [formGroup]="form" name="form" >
          <div class="row">
            <div class="col-md-6">
              <div class="form-group" >
                <label class="">Brand Name</label>
                <input type="text" class="form-control" name="brandName" id="brandNameId" [(ngModel)]="addbrand.brandName" formControlName="brandname" [ngClass]="{'is-invalid':form.get('brandname').touched }">
              </div>
            </div>

          </div>

          <button type="submit" class="btn btn-info pull-right" [disabled]="!form.valid" (click)="addBrand()">Save Details</button>
          <div class="clearfix"></div>
          </form>
        </div>
      </div>
    </div>
  </div>

</div>
<div class="row">

  <div class="col-md-12">
    <div class="card">


    </div>
  </div>

</div>

<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header card-header-icon card-header-info">
        <div class="card-icon">
          <i class="fas fa-cubes"></i>
        </div>
        <h4 class="card-title">Add Stock Details

        </h4>
      </div>
      <br>
      <br>
      <div class="card-body">

        <div class="row">


            <div class="col-md-3">
              <div class="form-group" >
                <label class="">Company Name</label>
                <select class="form-control " data-style="select-with-transition"  [(ngModel)]="insertCompany" #mySelect (change)="getMakeCompanyDetails(mySelect.value)">
                  <option *ngFor="let make of companies" [value]="make.companyName">{{make.companyName}}</option>

                </select>
              </div>
            </div>
          <div class="col-md-3">
            <div class="form-group">
              <label >Select Agent</label>
              <select class="form-control " data-style="select-with-transition"  [(ngModel)]="selectedAgentNic" #mySelect >
                <option *ngFor="let supplier of searchMakesByCompany" [ngValue]="supplier">{{supplier.supplierName}}</option>
              </select>
            </div>

          </div>



        </div>
        <br>


        <div class="row">

          <div class="col-sm-2">
            <div class="form-group">
              <label>Barcode</label>
              <input type="text" class="form-control" (keyup)="searchItemDetailsByBarcode($event)" [(ngModel)]="seachItemBarcode">

            </div>
          </div>
          <div class="col-sm-2">
            <div class="form-group">
              <label>Item Name</label>
              <input type="text" class="form-control" name="itemName"[ngModelOptions]="{standalone: true}" [(ngModel)]="searchItemName" disabled>
            </div>
          </div>

          <div class="col-sm-2">
            <div class="form-group">
              <label>Buying Price</label>
              <input type="Number" class="form-control" name="buyingPrice" id="buyPrice" [ngModelOptions]="{standalone: true}" [(ngModel)]="searchBuyingPrice">
            </div>
          </div>
          <div class="col-sm-2">
            <div class="form-group">
              <label>WholeSalePrice</label>
              <input type="Number" class="form-control" name="wholeSalePrice" [ngModelOptions]="{standalone: true}"[(ngModel)]="searchWholeSalePrice">
            </div>
          </div>





        </div>
        <div class="row">
          <div class="col-sm-3">
            <div class="form-group">
              <label>Retail Price</label>
              <input type="Number" class="form-control" name="retailPrice"[ngModelOptions]="{standalone: true}" [(ngModel)]="searchRetailPrice">
            </div>
          </div>
          <div class="col-sm-3">
            <div class="form-group">
              <label>Quantity</label>
              <input type="Number" class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="itemQuantity">
            </div>
          </div>
          <div class="col-sm-3">
            <div class="form-group">
              <label>Quantity On Hand</label>
              <input type="Number" class="form-control" name="itemQty" [ngModelOptions]="{standalone: true}"[(ngModel)]="itemDetailsQtyOnHand" disabled>
            </div>
          </div>
          <!--<div class="col-sm-2">-->
          <!---->
          <!--</div>-->
          <div class="col-sm-2">
            <button type="submit" class="btn btn-info pull-right" (click)="addToTable()">Add To Table</button>

          </div>
        </div>
        <br>
        <br>
        <div class="row">

          <div class="table-responsive">
            <table class="table">
              <thead class=" text-primary">
              <th>
                BarCode
              </th>
              <th>
                WholeSalePrice
              </th>
              <th>
                RetailPrice
              </th>
              <th>
                Quantity
              </th>
              <th>
                BuyingPrice
              </th>
              <th>
                QuantityOnHand
              </th>
              </thead>
              <tbody>

              <tr *ngFor="let items of itemsTables async" [attr.id]="items.item.barCode">
                <td>
                  {{items.item.barCode}}
                </td>
                <td>
                  {{items.item.wholeSalePrice}}
                </td>
                <td>
                  {{items.item.retailPrice}}
                </td>
                <td>
                  {{items.quantity}}
                </td>
                <td>
                  {{items.buyingPrice}}
                </td>
                <td>
                  {{items.item.itemQtyOnHand}}
                </td>
                <td class="td-actions ">
                  <button type="button" rel="tooltip" class="btn btn-danger" (click)="deleteRow(items.item.barCode)">
                    <i class="material-icons">close</i>
                  </button>
                </td>



              </tr>
              </tbody>
            </table>
          </div>

        </div>
        <div class="row">
          <div class="col-sm-4"></div>
          <div class="col-sm-4"></div>
          <div class="col-sm-1"></div>


          <div class="col-sm-2">
            <div class="form-group">
              <label>Amount</label>
              <input type="text" class="form-control"  [ngModelOptions]="{standalone: true}"[(ngModel)]="totAmount" disabled>



            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4"></div>
          <div class="col-sm-4"></div>
          <div class="col-sm-1"></div>


          <div class="col-sm-2">
            <button type="submit" class="btn btn-info pull-right" (click)="addStock()">Save Details</button>
          </div>
        </div>

      </div>


    </div>
  </div>

</div>

<div class="row">

  <div class="col-md-12">
    <div class="card">
      <div class="card-header card-header-icon card-header-info">
        <div class="card-icon">
          <i class="fas fa-search"></i>
        </div>
        <h4 class="card-title">Search  Item Details </h4>
      </div>
      <div class="card-body">
        <div class="row" >

          <div class="col-md-4" style="margin-left: 250px">
            <div class="form-group">
              <label class="bmd-label-floating">Search By Item Name</label>
              <input type="text" class="form-control" style="width: 300px" (keyup)="searchItemByName($event)" [(ngModel)]="searchitembyname">
            </div>
          </div>
          <!--<div class="col-md-4" style="margin-left: -200px ;margin-top: 25px">-->
            <!--<button type="submit" class="btn btn-rose pull-right" (click)="searchVehicleDetailsByNumber()" ><i class="fas fa-search"></i></button>-->
          <!--</div>-->
          <!--(click)="searchVehicleDetailsByNumber()"-->
        </div>

        <div class="table-responsive">
          <table class="table" id="vehicleTable">
            <thead class=" text-primary">
            <th>
              BarCode
            </th>
            <th>
              WholeSalePrice
            </th>
            <th>
              RetailPrice
            </th>
            <th>
              QuantityOnHand
            </th>
            </thead>
            <tbody>
            <tr *ngIf="searchItemValuesIf;else elseBlock">
              <td colspan="8" class="alert alert-danger" style="text-align: center">
                Item Not Found
              </td>
            </tr>

            <ng-template #elseBlock>

              <tr *ngFor="let item of searchItemDetails">
                <td class="text-center">
                  {{item.barCode}}
                </td>
                <td class="text-center">
                  {{item.wholeSalePrice}}
                </td>
                <td class="text-center">
                  {{item.retailPrice}}
                </td >

                <td class="text-center">
                  {{item.itemQtyOnHand}}
                </td>

                <td class="text-center">

                  <div class="form-group">

                    <input type="Number" class="form-control" name="Item"  [(ngModel)]="item.barcodeQuantity"  >

                  </div>


                </td>

                <td >

                  <button type="submit" class="btn btn-info pull-right" (click)="printBarcode(item.barCode,item.barcodeQuantity)">  <i class="fab fa-500px"></i></button>

                  <!--<button type="button" rel="tooltip" class="btn btn-danger" (click)="printBarcode(item.barCode,item.barcodeQuantity)">-->
                  <!---->
                  <!--</button>-->
                </td>
              </tr>

            </ng-template>

            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

</div>

<div class="row">

  <div class="col-md-6">
    <div class="card">
      <div class="card-header card-header-icon card-header-info">
        <div class="card-icon">
          <i class="fas fa-trash-alt"></i>
        </div>
        <h4 class="card-title">Delete Brand Details

        </h4>
      </div>
      <div class="card-body">

        <div class="row">
          <table class="table">
            <thead class=" text-primary">
            <th>
              BrandID
            </th>
            <th>
              Brand Name
            </th>

            </thead>
            <tbody>


            <tr *ngFor="let brand of brands">
              <td>
                {{brand.brandId}}
              </td>
              <td>
                {{brand.brandName}}
              </td>
              <td>
                <button type="button" rel="tooltip" class="btn btn-danger" (click)="deleteBrand(brand.brandId)">
                  <i class="fas fa-trash-alt"></i>
                </button>
              </td>
            </tr>


            </tbody>
          </table>


          <div class="col-md-6">

          </div>

        </div>


      </div>
    </div>
  </div>

</div>
<!--<div class="row">-->
  <!--<div class="col-md-6">-->
    <!--<div class="card">-->
      <!--<div class="card-header card-header-icon card-header-rose">-->
        <!--<div class="card-icon">-->
          <!--<i class="material-icons">perm_identity</i>-->
        <!--</div>-->
        <!--<h4 class="card-title">Print  Barcodes-->

        <!--</h4>-->
      <!--</div>-->
      <!--<div class="card-body">-->

        <!--<div class="row">-->


        <!--</div>-->
        <!--<form [formGroup]="form" name="form" >-->
          <!--<div class="row">-->
            <!--<div class="col-md-6">-->
              <!--<div class="form-group" >-->
                <!--<label class="">Item Name</label>-->
                <!--&lt;!&ndash;<input type="text" class="form-control" name="brandName" id="brandNameId" [(ngModel)]="addbrand.brandName" #brandNameControl="ngModel">&ndash;&gt;-->
                <!--<input type="text" class="form-control" name="Item"  [(ngModel)]="addbrand.brandName" formControlName="brandname" [ngClass]="{'is-invalid':form.get('brandname').touched }">-->

              <!--</div>-->
            <!--</div>-->

          <!--</div>-->

          <!--<button type="submit" class="btn btn-rose pull-right" [disabled]="!form.valid" (click)="addBrand()">Save Details</button>-->
          <!--<div class="clearfix"></div>-->
        <!--</form>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->

<!--</div>-->
