<h2 align="center"> RETURNS MANAGMENT </h2>



<h6 align="center"> SEARCH THE CUSTOMER ORDER BY CUSTOMER ORDER ID, ENTER THE QUANTITY TO RETURN THEN <br> CLICK THE ADD TO RETURNS LIST BUTTON TO ADD TO THE RETURNED ITEMS LIST </h6>

<div  class="col-md-12">
  <div  class="card">
    <div  class="card-header card-header-icon card-header-info">
      <div  class="card-icon"><i class="fas fa-file-invoice"></i></div>
      <h4  class="card-title">Return Item From Customers Orders</h4></div>
    <div  class="card-body">
      <div  class="row"></div>


      <!--<div  class="row">-->
      <!--<div class="col-md-6"><div class="form-group" [class.has-error]="searchbyid.invalid && searchbyid.touched" ><label  class="bmd-label-floating" class="control-lable">Order ID</label>-->
      <!--<input class="form-control" id="searchbyid" (keyup)="searchOrderById($event)" [(ngModel)]="searchorderbyid" type="text" required #searchbyid="ngModel">-->
      <!--<span class="help-block" *ngIf = "searchbyid.invalid && searchbyid.touched">Order ID is required</span>-->
      <!--</div></div>-->
      <!--</div>-->


      <div  class="row">
        <div class="col-md-6"><div class="form-group bmd-form-group" ><label  class="bmd-label-floating">Order ID</label>
          <input class="form-control" (keyup)="searchOrderById($event)" [(ngModel)]="searchorderbyid" type="text" ></div></div>
      </div>




      <div  class="clearfix"></div>
      <div  class="row">
        <!--<form>-->
        <div  class="table-responsive">
          <table  class="table">
            <thead  class=" text-primary">
            <th> Item ID</th>
            <th> Item Name</th>
            <th> Sold Quantity</th>
            <th> Ret. Sold Quantity</th>

            <th > </th>
            </thead>
            <tbody >
            <tr *ngFor="let returnItem of retitemsTables async" >
              <td class="text-center">{{returnItem.itembarcode}}</td>
              <td class="text-center">{{returnItem.itemname}}</td>
              <td class="text-center">{{returnItem.quantity}}</td>
              <td>
                <input  class="form-text" id="retQuantityCustOrder" name="retQuantity" type="text" [(ngModel)] = "returnItem.retQuantity" [ngModelOptions]="{standalone: true}">
              </td>
              <td><button  class="btn btn-success" rel="tooltip" type="button" data-original-title="" (click)="addReturnedItemsFromOrder(returnItem.itembarcode,returnItem.itemname,returnItem.retQuantity,1,returnItem.quantity)" title="">Add to returned list <i class="fas fa-plus-circle"></i></button></td>
            </tr>
            </tbody>
          </table>
        </div>
        <!--</form>-->
      </div>
    </div>
  </div>
</div>

<h6 align="center"> SEARCH THE ITEM FROM THE STOCK BY IT'S BARCODE, ENTER THE QUANTITY TO RETURN THEN <br> CLICK THE ADD TO RETURNS LIST BUTTON TO ADD TO THE RETURNED ITEMS LIST </h6>


<div  class="col-md-12">
  <div  class="card">
    <div  class="card-header card-header-rose card-header-icon">
      <div  class="card-icon"><i class="fas fa-box-open"></i>
      </div>
      <h4  class="card-title">Return Item from Stocks</h4>
      <div  class="card-body">

        <div  class="row">
          <div  class="col-md-6">
            <div  class="form-group bmd-form-group">
              <label  class="bmd-label-floating">Item Barcode</label>
              <input type="text" class="form-control"(keyup)="searchItemByBarcode($event)" [(ngModel)]="searchitembyitemid" >
            </div>
          </div>
        </div>
        <!--[(ngModel)]="this.ItemDetailsSingle.itemName"-->
        <div  class="row">
          <div  class="col-md-6"><div  class="form-group bmd-form-group"><input type="text" class="form-control" [(ngModel)]="itemname"></div></div>
          <div  class="col-md-6"><div  class="form-group bmd-form-group"><input type="text" class="form-control" [(ngModel)]="itemquant"></div></div>
        </div>
        <br/>



        Quantity: <input  class="form-text" id="retQuantityShop" name="retQuantity" type="text" [(ngModel)]="itemretq">

        <button  class="btn btn-behance pull-right" type="submit" (click)="addReturnedItemsFromOrder(this.searchitembyitemid,this.itemname,this.itemretq,0,this.itemquant)">Add To Return list<i class="fas fa-plus-circle"></i></button>

      </div>
    </div>

  </div>
</div>

<h6 align="center">
  BELOW SHOWN IS THE LIST OF RETURNED ITEMS WITH THEIR RESPECTIVE DETAILS

  ENTER THE QUANTITY OF ITEMS THAT<br> CAN BE RESOLD UNDER <b>"RESALABLE QUANTITY"</b>

  AND THE QUANTITY CANNOT BE RESOLD<br> UNDER <b>"NOT-RESALABLE QUANTITY"</b>
THEN PRESS UPDATE TO <b>UPDATE</b> THE DETAILS OR <b>DELETE</b> TO DELETE

</h6>

<div  class="col-md-12">
  <div  class="card">
    <div  class="card-header card-header-rose card-header-icon"><h4  class="card-title"><b>Items To Return</b></h4></div>
    <div  class="card-body">
      <div  class="row"></div>
      <div  class="table-responsive">
        <table  class="table">
          <thead >
          <tr >

            <th> Item ID </th>
            <th> Item Name </th>
            <th> Returned Date </th>
            <th> Returned Quantity </th>
            <th> Resaleable quantity</th>
            <th> Not-Resaleable quantity</th>
            <th> Update</th>
            <th> Remove </th>

          </tr>
          </thead>
          <tbody >
          <tr *ngFor="let finalReturn of listRetItems async">
            <td  class="text-center">{{finalReturn.retItemId}}</td>
            <td>{{finalReturn.retItemName}}</td>
            <td> {{finalReturn.retDate}}</td>
            <td>{{finalReturn.retQuant}}</td>
            <td >
              <input class="form-text" id="retQuantityCustOrderFinalFinal" name="retresaleQuantity" type="text" [(ngModel)]="finalReturn.resellableQuant">
            </td>

            <td >
              <input class="form-text" id="retQuantityCustOrderFinalFinal2" name="retnotresaleQuantity" type="text" [(ngModel)]="finalReturn.notresellableQuant">
            </td>

            <td  class="td-actions ">
              <button  class="btn btn-info" rel="tooltip" type="button" data-original-title="" title="" name="update" (click)="updateResaleablity(finalReturn)" ><i  class="material-icons">update</i>
              </button>
            </td>

            <td  class="td-actions ">
              <button  class="btn btn-danger" rel="tooltip" type="button"
                       data-original-title="" title="" name="delete" (click)="deleteEntry(finalReturn.retItemId)"><i  class="material-icons">close</i>
              </button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
