<div class="row">

  <div class="col-md-12">
    <div class="card">
      <div class="card-header card-header-info card-header-icon">
        <div class="card-icon">
          <i class="fas fa-users"></i>
        </div>
        <h4 class="card-title">Employee Attendance of the day</h4>
      </div>
      <div class="card-body">
        <div class="row" >

        </div>

        <div class="table-responsive">
          <table class="table">
            <thead>
            <tr>

              <th class="text-center">EmployeeID</th>
              <th class="text-center">In Time</th>
              <th class="text-center">Out Time</th>
              <th class="text-center">Date</th>
              <th class="text-center">First Name</th>
              <th class="text-center">Last Name</th>
              <th class="text-center">Role</th>


            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let employeeAttendance of EmployeeAttendance">

              <td class="text-center">
                {{employeeAttendance.attendanceId}}
              </td>
              <td class="text-center">
                {{employeeAttendance.inTime}}
              </td >
              <td class="text-center">
                {{employeeAttendance.outTime}}
              </td >
              <td style="color: red; font-size: 25px ;font-style: inherit" class="text-center">
                {{employeeAttendance.day}}
              </td>
              <td class="text-center">
                {{employeeAttendance.fname}}
              </td>
              <td class="text-center">
                {{employeeAttendance.lname}}
              </td >
              <td class="text-center">
                {{employeeAttendance.role}}
              </td >
            </tr>
            </tbody>
          </table>
        </div>

        <div class="row">

          <div class="col-10">

          </div>
          <div class="col-2">
            <button type="submit" class="btn btn-info pull-right" (click)="printReport()" >Print </button>

          </div>

        </div>
      </div>
    </div>
  </div>

</div>
