<!--navbar-->
<nav class="navbar navbar-inverse navbar-expand-lg bg-dark" role="navigation-demo">
  <div class="container-fluid" style="width: 100%;">

    <div class="card-icon">
      <i class="material-icons">list</i>
    </div>

    <div class="navbar-translate" >
      <a class="navbar-brand" href="#0">Counter 01</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false"
              aria-label="Toggle navigation">
        <span class="sr-only">Toggle navigation</span>
        <span class="navbar-toggler-icon"></span>
        <span class="navbar-toggler-icon"></span>
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>

    <div class="collapse navbar-collapse">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a href="#pablo" class="nav-link">
            07/10/2019
          </a>
        </li>
        <li class="nav-item">
          <a href="#pablo" class="nav-link">
            09:00 AM
          </a>
        </li>
        <li class="nav-item">
          <a href="#pablo" class="btn btn-rose btn-raised btn-fab btn-round" data-toggle="dropdown">
            <i class="material-icons">email</i>
          </a>
        </li>
        <li class="dropdown nav-item">
          <a href="#pablo" class="profile-photo dropdown-toggle nav-link" data-toggle="dropdown">
            <div class="profile-photo-small">
              <img src="assets/img/faces/avatar.jpg" alt="Circle Image" class="rounded-circle img-fluid">
            </div>
          </a>
          <div class="dropdown-menu dropdown-menu-right">
            <h6 class="dropdown-header">Dropdown header</h6>
            <a href="#pablo" class="dropdown-item">Me</a>
            <a href="#pablo" class="dropdown-item">Settings and other stuff</a>
            <a href="#pablo" class="dropdown-item">Sign out</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <!-- container-->
</nav>


<!--Item details-->

<div class="container-fluid">
  <div class="row" style="height: auto">

    <div class="col-sm-1" style="background-color: #0a6ebd"></div>


    <!--Search Items-->

    <div class="col-sm-9">

      <div class="card">
        <div class="card-header card-header-rose card-header-icon">
          <div class="card-icon">
            <i class="material-icons">search</i>
          </div>
          <h4 class="card-title">Search Item</h4>
        </div>
        <div class="card-body">
          <div class="row" >

            <div style="margin-left: 35%; width: 50%">
              <div class="form-group">
                <label class="bmd-label-floating">Search By Name & Tag ID</label>
                <input type="text" class="form-control">
              </div>
            </div>
            <div  style="margin-left: 90%; margin-top: -5%">
              <button type="submit" class="btn btn-rose pull-right"  >
                <i class="material-icons">search</i></button>
            </div>

          </div>
        </div>


        <div class="table-responsive">
          <table class="table">
            <thead>
            <tr>
              <th class="text-center">#</th>
              <th>Item Code</th>
              <th>Item Name</th>
              <th >Brand</th>
              <th >Item Price</th>
              <th >Qty</th>
              <th ></th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td class="text-center">1</td>
              <td><input type="text" class="form-control"></td>
              <td><input type="text" class="form-control"></td>
              <td><input type="text" class="form-control"></td>
              <td ><input type="text" class="form-control"></td>
              <td><input type="text" class="form-control"></td >
              <td style="">
                <button href="#pablo" class="btn btn-primary btn-round"><i class="material-icons">add</i>
                  Add
                </button>
              </td>
            </tr>
            </tbody>
          </table>
        </div>


      </div>


      <!--Search Result-->




      <!--Cart-->

      <div class="card">
        <div class="card-header card-header-rose card-header-icon">
          <div class="card-icon">
            <i class="material-icons">add_shopping_cart</i>
          </div>
          <h4 class="card-title">Cart</h4>
        </div>
        <div class="card-body">
          <div class="row" >

            <div class="table-responsive">
              <table class="table">
                <thead>
                <tr>
                  <th class="text-center">#</th>
                  <th>Item Code</th>
                  <th>Item Name</th>
                  <th >Brand</th>
                  <th >Item Price</th>
                  <th >Qty</th>
                  <th >Total Price</th>
                  <th ></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <td class="text-center">1</td>
                  <td>Andrew Mike</td>
                  <td>Develop</td>
                  <td>2013</td>
                  <td >&euro; 99,225</td>
                  <td>Galle</td>
                  <td>1995-07-14</td>
                  <td class="td-actions ">
                    <button type="button" rel="tooltip" class="btn btn-danger">
                      <i class="material-icons">close</i>
                    </button>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>


    </div>


    <!--  Bill-->

    <div class="col-sm-2">

      <div class="card card-pricing">
        <div class="card-body ">
          <h6 class="card-category text-success">Total Amount</h6>
          <h1 class="card-title">
            <small>LKR</small>89</h1>
          <ul>
            <li><input type="text" class="form-control"></li>
            <li><input type="text" class="form-control"></li>
            <li><input type="text" class="form-control"></li>
            <li><input type="text" class="form-control"></li>
          </ul>
          <a href="#pablo" class="btn btn-primary btn-round">
            Conform
          </a>
        </div>

      </div>


    </div></div></div>




