<div class="container-fluid">
  <div class="row">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header card-header-icon card-header-info">
          <div class="card-icon">
            <i class="fas fa-users"></i>
          </div>



          <h4 class="card-title">Add Employee Details</h4>
        </div>
        <div class="card-body">
          <form [formGroup]="form" name="form" >

            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label class="bmd-label-floating" >First Name</label>
                  <input type="text" class="form-control" name="fname" minlength="2" maxlength="10" [(ngModel)]="emp.fname" formControlName="fname"
                         [ngClass]="{'is-invalid':form.get('fname').touched && form.get('fname').invalid }">
                  <div class="invalid-feedback"  *ngIf="form.get('fname').touched  && form.get('fname').invalid">
                    First name is required
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label class="bmd-label-floating">Last Name</label>
                  <input type="text" class="form-control" name="lname" minlength="2" maxlength="10" [(ngModel)]="emp.lname" formControlName="lname"
                         [ngClass]="{'is-invalid':form.get('lname').touched && form.get('lname').invalid }">
                  <div class="invalid-feedback"  *ngIf="form.get('lname').touched  && form.get('lname').invalid">
                    Last name is required
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label class="bmd-label-floating" >Email</label>
                  <input type="text" class="form-control" name="email" [(ngModel)]="emp.email" formControlName="email"
                         [ngClass]="{'is-invalid':form.get('email').touched && form.get('email').invalid }">
                  <div class="invalid-feedback"  *ngIf="form.get('email').touched  && form.get('email').invalid">
                    <div *ngIf="form.get('email').errors.required"> Email is required </div>
                    <div *ngIf="form.get('email').errors.email"> Email must be a valid email address</div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label class="bmd-label-floating">NIC</label>
                  <input type="text" class="form-control" name="nic" minlength="10" maxlength="10" [(ngModel)]="emp.nic" formControlName="nic"
                         [ngClass]="{'is-invalid':form.get('nic').touched && form.get('nic').invalid }">
                  <div class="invalid-feedback"  *ngIf="form.get('nic').touched  && form.get('nic').invalid">
                    NIC is required
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label class="bmd-label-floating">Address</label>
                  <input type="text" class="form-control" name="address" [(ngModel)]="emp.address" formControlName="address"
                         [ngClass]="{'is-invalid':form.get('address').touched && form.get('address').invalid }">
                  <div class="invalid-feedback"  *ngIf="form.get('address').touched  && form.get('address').invalid">
                    Address is required
                  </div>
                </div>
              </div>
            </div>


            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label class="bmd-label-floating">Birthday</label><br>
                  <input type="date" class="form-control" name="birthday" [(ngModel)]="emp.birthday" formControlName="birthday"
                         [ngClass]="{'is-invalid':form.get('birthday').touched && form.get('birthday').invalid }">
                  <div class="invalid-feedback"  *ngIf="form.get('birthday').touched  && form.get('birthday').invalid">
                    Birthday is required
                  </div>
                </div>
              </div>


              <div class="col-md-6">
                <div class="form-group">
                  <label class="bmd-label-floating">Contact Number</label>
                  <input type="text" class="form-control" name="phone" minlength="10" maxlength="10" pattern="[0-9]{10,10}" [(ngModel)]="emp.phone" formControlName="phone"
                         [ngClass]="{'is-invalid':form.get('phone').touched && form.get('phone').invalid }">
                  <div class="invalid-feedback"  *ngIf="form.get('phone').touched  && form.get('phone').invalid">
                    Contact Number is required
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label class="bmd-label-floating">Date of Joining</label><br>
                  <input type="date" class="form-control" name="datejoin" [(ngModel)]="emp.datejoin" formControlName="datejoin"
                         [ngClass]="{'is-invalid':form.get('datejoin').touched && form.get('datejoin').invalid }">
                  <div class="invalid-feedback"  *ngIf="form.get('datejoin').touched  && form.get('datejoin').invalid">
                    Date of join is required
                  </div>
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-group">
                  <label class="bmd-label-floating">Basic Salary</label><br>
                  <input type="text" class="form-control" name="basicsal" [(ngModel)]="emp.basicsal" formControlName="basicsal"
                         [ngClass]="{'is-invalid':form.get('basicsal').touched && form.get('basicsal').invalid }">
                  <div class="invalid-feedback"  *ngIf="form.get('basicsal').touched  && form.get('basicsal').invalid">
                    Basic Salary is required
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <label class="bmd-label-floating">Gender</label><br>

                <div class="form-check">
                  <label class="form-check-label">
                    <input class="form-check-input" type="radio" name="gender" value="Male" formControlName="gender" [(ngModel)]="emp.gender" checked required>Male
                    <span class="circle">
                      <span class="check"></span>
                    </span>
                  </label>
                </div>

                <div class="form-check">
                  <label class="form-check-label">
                    <input class="form-check-input" type="radio" name="gender" value="Female" formControlName="gender" [(ngModel)]="emp.gender" required>Female
                    <span class="circle">
                        <span class="check"></span>
                    </span>

                  </label>
                </div>



              </div>



              <div class="col-md-6">
                <div class="form-group">
                  <label class="bmd-label-floating">Role</label>
                  <br>
                  <div class="form-check">
                    <label class="form-check-label">
                      <input class="form-check-input" type="radio" name="role" value="Manager" formControlName="role" [(ngModel)]="emp.role" checked required>Manager
                      <span class="circle">
                      <span class="check"></span>
                    </span>
                    </label>
                  </div>

                  <div class="form-check form-check-radio form-check-inline">
                    <label class="form-check-label">
                      <input class="form-check-input" type="radio" name="role" value="Administrator" formControlName="role" [(ngModel)]="emp.role" required> Administrator
                      <span class="circle">
        <span class="check"></span>
    </span>
                    </label>
                  </div><br>

                  <div class="form-check form-check-radio form-check-inline">
                    <label class="form-check-label">
                      <input class="form-check-input" type="radio" name="role" value="Cashier" formControlName="role" [(ngModel)]="emp.role" required> Cashier
                      <span class="circle">
        <span class="check"></span>
    </span>
                    </label>
                  </div><br>

                  <div class="form-check form-check-radio form-check-inline">
                    <label class="form-check-label">
                      <input class="form-check-input" type="radio" name="role" value="Other" formControlName="role" [(ngModel)]="emp.role" required> Other Staff
                      <span class="circle">
        <span class="check"></span>
    </span>
                    </label>
                  </div>

                </div>
              </div>

            </div>



            <button type="submit" class="btn btn-info pull-right" (click)="addEmployee()" [disabled]="!form.valid">Save Details</button>
            <div class="clearfix"></div>
          </form>
        </div>
      </div>
    </div>

  </div>
</div>


<div class="row">

  <div class="col-md-12">
    <div class="card">
      <div class="card-header card-header-icon card-header-info">
        <div class="card-icon">
          <i class="fas fa-search"></i>
        </div>
        <h4 class="card-title">Search Employee</h4>
      </div>
      <div class="card-body">
        <div class="row" >

          <div class="col-md-4" style="margin-left: 500px">
            <div class="form-group">

              <input type="text" class="form-control" style="width: 450px" placeholder="Search By Employee Name" name="fname" [(ngModel)] = "employeename">
            </div>
          </div>
          <div class="col-md-4" style="margin-left: -200px ;margin-top: 0px">
            <button type="submit" class="btn btn-info pull-right" (click)="searchByEmployeeName()" >
              <i class="fas fa-search" ></i></button>
          </div>

        </div>

        <div class="table-responsive">
          <table class="table">
            <thead>
            <tr>
              <th class="text-center">EmployeeID</th>
              <th>First Name</th>
              <th>Last Name</th>
              <th >Email Address</th>
              <th >NIC</th>
              <th >Address</th>
              <th >Birthday</th>
              <th >Phone Number</th>
              <th>Date of Join</th>
              <th>Basic Salary</th>
              <th>Gender</th>
              <th>Role</th>

              <th class="text_right">Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngIf="searchEmployeeValuesIf;else elseBlock">
              <td>
                <i class="material-icons" data-notify="icon"></i>
              <td colspan="16" class="alert alert-danger" style="text-align: center">
                Employee Not Found
              </td>
            </tr>

            <ng-template #elseBlock>
              <tr>
                <td class = "text-center">
                  {{searchEmployeeValues.employee_id}}
                </td>
                <td class = "text-center">
                  {{searchEmployeeValues.fname}}
                </td>
                <td class = "text-center">
                  {{searchEmployeeValues.lname}}
                </td>
                <td class = "text-center">
                  {{searchEmployeeValues.email}}
                </td>
                <td class = "text-center">
                  {{searchEmployeeValues.nic}}
                </td>
                <td class = "text-center">
                  {{searchEmployeeValues.address}}
                </td>
                <td class = "text-center">
                  {{searchEmployeeValues.birthday}}
                </td>
                <td class = "text-center">
                  {{searchEmployeeValues.phone}}
                </td>
                <td class = "text-center">
                  {{searchEmployeeValues.datejoin}}
                </td>
                <td class = "text-center">
                  {{searchEmployeeValues.basicsal}}
                </td>
                <td class = "text-center">
                  {{searchEmployeeValues.gender}}
                </td>
                <td class = "text-center">
                  {{searchEmployeeValues.role}}
                </td>

                <td class="td-actions ">

                  <button type="button" rel="tooltip" class="btn btn-danger" (click) = "deleteEmployee()">
                    <i class="material-icons">close</i>
                  </button>
                </td>
              </tr>
            </ng-template>

            </tbody>
          </table>
        </div>

      </div>
    </div>
  </div>

</div>






<div class="container-fluid">
  <div class="row">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header card-header-icon card-header-info">
          <div class="card-icon">
            <i class="fas fa-user-edit"></i>
          </div>

          <h4 class="card-title">Update Employee Details</h4>
        </div>
        <div class="card-body">
          <form>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label class="bmd-label-floating">Employee ID</label>
                  <input type="text" class="form-control" name="employee_id" [ngModelOptions] = "{standalone : true}" [(ngModel)]="employee_id1">
                </div>
              </div>

            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label class="bmd-label-floating">First Name</label>
                  <input type="text" class="form-control" name="fname" [ngModelOptions] = "{standalone : true}" [(ngModel)]="fname1">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label class="bmd-label-floating">Last Name</label>
                  <input type="text" class="form-control" name="lname" [ngModelOptions] = "{standalone : true}" [(ngModel)] = "lname1">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label class="bmd-label-floating">Email Address</label>
                  <input type="email" class="form-control" name="email" [ngModelOptions] = "{standalone : true}" [(ngModel)] = "email1">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label class="bmd-label-floating" >NIC</label>
                  <input type="text" class="form-control" name="nic" [ngModelOptions] = "{standalone : true}" [(ngModel)] = "nic1">
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label class="bmd-label-floating">Address</label>
                  <input type="text" class="form-control" name="address" [ngModelOptions] = "{standalone : true}" [(ngModel)] = "address1">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label class="bmd-label-floating">Birthday</label><br>
                  <input type="date" class="form-control" name="birthday" [ngModelOptions] = "{standalone : true}" [(ngModel)] = "birthday1">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label class="bmd-label-floating">Phone Number</label>
                  <input type="text" class="form-control" name="phone" [ngModelOptions] = "{standalone : true}" [(ngModel)] = "phone1">
                </div>
              </div>

            </div>

            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label class="bmd-label-floating">Date of Joining</label><br>
                  <input type="date" class="form-control" name="datejoin" [ngModelOptions] = "{standalone : true}" [(ngModel)] = "datejoin1">
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-group">
                  <label class="bmd-label-floating">Basic Salary</label><br>
                  <input type="text" class="form-control" name="basicsal" [ngModelOptions] = "{standalone : true}" [(ngModel)] = "basicsal1">
                </div>
              </div>
            </div>


            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label class="bmd-label-floating">Gender</label>
                  <div class="form-check form-check-radio">
                    <label class="form-check-label">
                      <input class="form-check-input" type="radio" name="exampleRadios" value="Male" [ngModelOptions] = "{standalone : true}" [(ngModel)] = "gender1">
                      Male
                      <span class="circle">
                        <span class="check"></span>
                      </span>
                    </label>
                  </div>
                  <div class="form-check form-check-radio">
                    <label class="form-check-label">
                      <input class="form-check-input" type="radio" name="exampleRadios" value="Female" [ngModelOptions] = "{standalone : true}" [(ngModel)] = "gender1">
                      Female
                      <span class="circle">
                                              <span class="check"></span>
                                             </span>
                    </label>
                  </div>


                </div>
              </div>


              <div class="col-md-6">
                <div class="form-group">
                  <label class="bmd-label-floating">Role</label>
                  <br>
                  <div class="form-check form-check-radio form-check-inline">
                    <label class="form-check-label">
                      <input class="form-check-input" type="radio" name="inlineRadioOptions" value="Manager" [ngModelOptions] = "{standalone : true}" [(ngModel)] = "role1"> Manager
                      <span class="circle">
        <span class="check"></span>
    </span>
                    </label>
                  </div><br>

                  <div class="form-check form-check-radio form-check-inline">
                    <label class="form-check-label">
                      <input class="form-check-input" type="radio" name="inlineRadioOptions" value="Administrator" [ngModelOptions] = "{standalone : true}" [(ngModel)] = "role1"> Administrator
                      <span class="circle">
        <span class="check"></span>
    </span>
                    </label>
                  </div><br>

                  <div class="form-check form-check-radio form-check-inline">
                    <label class="form-check-label">
                      <input class="form-check-input" type="radio" name="inlineRadioOptions" value="Cashier" [ngModelOptions] = "{standalone : true}" [(ngModel)] = "role1"> Cashier
                      <span class="circle">
        <span class="check"></span>
    </span>
                    </label>
                  </div><br>

                  <div class="form-check form-check-radio form-check-inline">
                    <label class="form-check-label">
                      <input class="form-check-input" type="radio" name="inlineRadioOptions" value="Other" [ngModelOptions] = "{standalone : true}" [(ngModel)] = "role1"> Other Staff
                      <span class="circle">
        <span class="check"></span>
    </span>
                    </label>
                  </div><br>

                </div>
              </div>
            </div>


            <button type="submit" class="btn btn-info pull-right" (click)="UpdateEmployee()">Update Details</button>
            <div class="clearfix"></div>
          </form>
        </div>
      </div>
    </div>

  </div>

</div>










