<div class="container">
  <div class="row">
    <div class="col-md-8">

      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header card-header-icon card-header-info">
                <div class="card-icon">
                  <i class="fas fa-warehouse"></i>
                  <!--ghjgkjgkjgk-->
                  <!--hjkh-->
                </div>
                <h4 class="card-title">Company</h4>
              </div>
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table">

                    <tbody>

                    <tr>
                      <td>
                        <div class="row">
                          <div class="col-md-8">
                            <div class="form-group">
                              <label >Select Companys</label>
                              <select class="form-control " data-style="select-with-transition"  [(ngModel)]="insertCompany" #mySelect (change)="getMakeCompanyDetails(mySelect.value)">
                                <option *ngFor="let make of companies" [value]="make.companyName">{{make.companyName}}</option>

                              </select>
                            </div>

                          </div>
                        </div>
                      </td>

                      <td>
                        <div class="row">
                          <div class="col-md-8">
                            <div class="form-group">
                              <label >Select Agent</label>
                              <select class="form-control " data-style="select-with-transition"  [(ngModel)]="selectedAgentNic" #mySelect (change)="getItemDetails(selectedAgentNic)">
                                <option *ngFor="let supplier of searchMakesByCompany" [ngValue]="supplier">{{supplier.supplierName}}</option>
                              </select>
                            </div>

                          </div>
                        </div>
                      </td>

                    </tr>

                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-body">

                <div class="row" >

                  <div class="col-md-8" style="margin-left: 10px">

                    <div class="form-group">
                      <label class="bmd-label-floating">Search By Order ID</label>
                      <input type="text" class="form-control" style="width: 200px" (keyup)="searchOrderByOrderId($event)"[(ngModel)]="searchOrderById" >
                    </div>
                  </div>
                  <!--<div class="col-md-4" style="margin-left: 200px ;margin-top: -55px">-->
                    <!--<button type="submit" class="btn btn-rose pull-right" > <i class="material-icons">search</i></button>-->
                  <!--</div>-->
                </div>

                  <table>
                    <tbody>
                    <!--<tr *ngIf="searchOrderValuesIf;else elseBlock">-->
                      <!--<td colspan="8" class="alert alert-danger" style="text-align: center">-->
                        <!--Order Not Found-->
                      <!--</td>-->
                    <!--</tr>-->
                    <!--<ng-template #elseBlock>-->
                <div class="timeline-panel" >
                  <tr>
                  <div class="timeline-heading">
                    <span class="badge badge-info">{{searchOrder.supplierName}}</span>
                  </div>
                  </tr>
                  <div class="timeline-body">
                    <!--<tr><h6>Supplier Name : {{searchOrder.supplierName}}</h6></tr>-->
                    <tr><h6>Company Name : {{searchOrder.companyName}}</h6></tr>
                    <tr><h6>Ordered date : {{searchOrder.date}}</h6></tr>
                  </div>
                  <div class="timeline-footer">
                    <tr>
                    <div class="dropdown">
                      <button type="button" class="btn btn-round btn-info" (click)="updateSupplierOrder()">
                        <i>Update Status</i>
                      </button>
                    </div>
                    </tr>
                  </div>
                </div>
                    <!--</ng-template>-->
                    </tbody>
                  </table>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div></div>

<div class="col-md-8">
  <div class="card">
    <div class="card-header card-header-icon card-header-info">
      <div class="card-icon">
        <i class="fas fa-indent"></i>
      </div>
      <h4 class="card-title">Items</h4>
    </div>
    <div class="card-body">

      <div class="card-body">
        <div class="table-responsive">
          <table class="table shopping">
            <thead>
            <tr>
              <th>Barcode</th>
              <th>Product</th>
              <th class="text-right">Price</th>
              <th class="text-center">Qty</th>

            </tr>
            </thead>
            <tbody>

            <tr *ngFor="let item of itemsArray async" >
              <td class="td-name">
                <a href="" style="color: #8e24aa">{{item.barCode}}</a>
                <br />
              </td>
              <td class="td-number text-left">
                <small></small>{{item.itemName}}
              </td>
              <td class="td-number text-center">
                {{item.retailPrice}}
              </td>
              <td class="td-number text-center">
                <input type="text" class="form-control-right" style="width: 60px" [(ngModel)]="item.itemQtyOnHand">
              </td>

              <td class="td-actions">
                <button class="btn btn-primary btn-round btn-info" (click)="AddItemsToTable(item.barCode,item.itemName,item.itemQtyOnHand,item.retailPrice)">Add</button>
              </td>
            </tr>

            </tbody>
          </table>
        </div>

      </div>
    </div>
  </div>
</div>



<div class="col-md-8">
  <div class="card">
    <div class="card-header card-header-icon card-header-info">
      <div class="card-icon">
        <i class="fas fa-file-alt"></i>
      </div>
      <h4 class="card-title">Order list</h4>
    </div>




    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-shopping">
          <thead>
          <tr>
            <th>Barcode</th>
            <th>Product</th>
            <th >Qty</th>
            <th >Amount</th>
          </tr>



          </thead>
          <tbody>

          <tr *ngFor="let items of supplierOrderDetailsArray async" >
            <td >
              {{items.item.barCode}}

            </td>
            <td >
              {{items.item.itemName}}

            </td>
            <td >
              {{items.quantity}}
            </td>
            <td >
              {{items.price }}
            </td>
            <td class="td-actions" >
              <!--<button class="btn btn-primary btn-round" (click)="deleteOrderRow(items.supplierOrder.supplierOrderId)">Remove</button>-->
              <button class="btn btn-primary btn-round " (click)="deleteOrderRow(items.item.barCode)"> Remove </button>
            </td>
          </tr>



          <tr>
            <td colspan="2"></td>
            <td class="td-total">
              Total
            </td>
            <td colspan="1" class="td-price">
              {{this.totalAmount}}
            </td>
            <td></td>
          </tr>
          <tr>
            <td colspan="2"></td>
            <td colspan="2" class="text-right">
              <button class="btn btn-primary btn-round btn-info" (click)="saveJobOrder()">Place Order</button>
            </td>
          </tr>

          </tbody>
        </table>
      </div>
    </div>

  </div>
</div></div>

