<div class="container">
  <div class="row">
    <div class="col-md-6">

      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header card-header-rose card-header-icon">
                <div class="card-icon">
                  <i class="material-icons">store</i>
                  <!--ghjgkjgkjgk-->
                  <!--hjkh-->
                </div>
                <h4 class="card-title">Company</h4>
              </div>
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table">
                    <thead>
                    <tr>
                      <th>Name</th>
                    </tr>
                    </thead>
                    <tbody>

                    <tr>
                      <td>
                        <div class="dropdown show">
                          <a class="btn btn-lg btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Uniliver
                          </a>

                          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <a class="dropdown-item" href="#">Agent1</a>
                            <a class="dropdown-item" href="#">Agent2</a>
                            <a class="dropdown-item" href="#">Agent3</a>
                          </div>
                        </div>
                      </td>
                    </tr>

                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-body">

                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <span class="badge badge-pill badge-info">Agent name</span>
                  </div>
                  <div class="timeline-body">
                    <h6>Company Name : Uniliver</h6>
                    <h6>Ordered date : 2019/02/07</h6>
                  </div>
                  <div class="timeline-footer">
                    <div class="dropdown">
                      <button type="button" class="btn btn-round btn-info">
                        <i>Confirm</i>
                      </button>
                      <button type="button" class="btn btn-round btn">
                        <i>Cancel</i>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div></div></div>
