<div class="col-md-12">
  <div class="card">
    <div class="card-header card-header-rose card-header-icon">
      <div class="card-icon">
        <i class="material-icons">assignment</i>
      </div>
      <h4 class="card-title">Items</h4>
    </div>
    <div class="card-body">

      <div class="row" >

        <div class="col-md-4" style="margin-left: 450px">
          <div class="form-group">
            <label class="bmd-label-floating">Search By Product Name</label>
            <input type="text" class="form-control" style="width: 600px">
          </div>
        </div>
        <div class="col-md-5" style="margin-left: -300px ;margin-top: 25px">
          <button type="submit" class="btn btn-rose pull-right" > <i class="material-icons">search</i></button>
        </div>

      </div>



      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-shopping">
            <thead>
            <tr>
              <th>Product</th>
              <th class="text-right">Price</th>
              <th class="text-right">Qty</th>
              <th class="text-right">Amount</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td class="td-name">
                <a href="#jacket">Spring Jacket</a>
                <br />
                <small>by Dolce&Gabbana</small>
              </td>
              <td class="td-number text-right">
                <small>&euro;</small>549
              </td>
              <td class="td-number text-right">
                <input type="text" class="form-control-right" style="width: 60px">
              </td>
              <td class="td-number">
                <small>&euro;</small>549
              </td>
              <td class="td-actions">
                <button class="btn btn-primary btn-round">Add</button>
              </td>
            </tr>
            <tr>
              <td class="td-name">
                <a href="#pants">Short Pants</a>
                <br />
                <small>by Pucci</small>
              </td>
              <td class="td-number">
                <small>&euro;</small>499
              </td>
              <td class="td-number text-right">
                <input type="text" class="form-control-right" style="width: 60px">
              </td>
              <td class="td-number">
                <small>&euro;</small>998
              </td>
              <td class="td-actions">
                <button class="btn btn-primary btn-round">Add</button>
              </td>
            </tr>
            <tr>
              <td class="td-name">
                <a href="#nothing">Pencil Skirt</a>
                <br />
                <small>by Valentino</small>
              </td>
              <td class="td-number">
                <small>&euro;</small>799
              </td>
              <td class="td-number text-right">
                <input type="text" class="form-control-right" style="width: 60px">
              </td>
              <td class="td-number">
                <small>&euro;</small>799
              </td>
              <td class="td-actions">
                <button class="btn btn-primary btn-round">Add</button>
              </td>
            </tr>


            </tbody>
          </table>
        </div>

      </div>
    </div>
  </div>
</div>



<div class="col-md-9">
  <div class="card">
    <div class="card-header card-header-rose card-header-icon">
      <div class="card-icon">
        <i class="material-icons">assignment</i>
      </div>
      <h4 class="card-title">Order list</h4>
    </div>




    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-shopping">
          <thead>
          <tr>
            <th>Product</th>
            <th class="text-right">Qty</th>
            <th class="text-right">Amount</th>
          </tr>

          <tr>

          </tr>

          </thead>
          <tbody>

          <tr>
            <td class="td-name">
              <a href="#nothing">Pencil Skirt</a>
              <br />
              <small>by Valentino</small>
            </td>

            <td class="td-number">
              1
            </td>
            <td class="td-number">
              <small>&euro;</small>799
            </td>

            <td class="td-actions">
              <button class="btn btn-primary btn-round">Remove</button>
            </td>

          </tr>
          <tr>
            <td colspan="2"></td>
            <td class="td-total">
              Total
            </td>
            <td colspan="1" class="td-price">
              <small>&euro;</small>2,346
            </td>
            <td></td>
          </tr>
          <tr>
            <td colspan="2"></td>
            <td colspan="2" class="text-right">
              <button class="btn btn-primary btn-round">Place Order</button>
            </td>
          </tr>

          </tbody>
        </table>
      </div>
    </div>

  </div>
</div>
